.example-list {
    width: 50%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

@media(max-width: 950px) {
  .example-list {
    width: 95%;
  }
}


.example-box {
padding: 20px 10px;
border-bottom: solid 1px #ccc;
color: rgba(0, 0, 0, 0.87);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;
background: white;
font-size: 14px;
}

.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media(max-width: 1300px) {
  .mat-column-item{
    width: 30% !important;
    padding-right: 3%;
  }

  .mat-column-price{
    width: 12% !important;
    text-align: center;
  }

  .mat-column-points{
    width: 12% !important;
    text-align: center;
  }


  .mat-column-action1{
    width: 2% !important;
    text-align: center;
  }
  .mat-column-action2{
    width: 2% !important;
    text-align: center;
  }
  .mat-column-action3{
    width: 2% !important;
    text-align: center;
  }
}


.drag-and-drop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ranking-column {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
}

.current-ranking {
  display: flex; 
  flex-direction: column; 
  width: 100%;
  align-items: center;
}
