<div class="main-wrapper">
    <mat-tab-group style="height: 100%">
        <mat-tab style="height: 100%" label="Überblick">
            <div>

                <div
                    style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; ">
                    <div
                        style="width: 60%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
                        <h2>Geplante Investitionen</h2>
                        <p *ngIf="!isMobileLayout">Aktuelles Investitionsvolumen:
                            <b>{{investionVolume.toLocaleString('de-DE')}} €</b></p>
                    </div>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                    <table *ngIf="!loading && !isMobileLayout" style="width: 60%;" mat-table
                        [dataSource]="openinvestments" class="mat-elevation-z8">
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.item}} </td>
                        </ng-container>
                        <!-- Preis Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Preis </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.price.toLocaleString('de-DE')}} €
                            </td>
                        </ng-container>
                        <!-- CreatedBy Column -->
                        <ng-container matColumnDef="createdby">
                            <th mat-header-cell *matHeaderCellDef> Erstellt von </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.createdBy | titlecase}} </td>
                        </ng-container>
                        <!-- CreatedAt Column -->
                        <ng-container matColumnDef="createdat">
                            <th mat-header-cell *matHeaderCellDef> Erstellt am </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.createdAt.toMillis() |
                                date:'dd.MM.yyyy HH:mm'}} </td>
                        </ng-container>
                        <!-- CreatedAt Column -->
                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef> Punkte </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.points}} </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action1">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="buyInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>add_shopping_cart</mat-icon>
                            </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action2">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="deleteInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>delete</mat-icon>
                            </td>
                        </ng-container>

                        <!-- Action Bought -->
                        <ng-container matColumnDef="action3">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="editInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>edit</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:  displayedColumns;"></tr>
                    </table>
                    <table *ngIf="!loading && isMobileLayout" style="width: 95%;" mat-table
                        [dataSource]="openinvestments" class="mat-elevation-z8">
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.item}} </td>
                        </ng-container>
                        <!-- Preis Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Preis </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.price.toLocaleString('de-DE')}} €
                            </td>
                        </ng-container>
                        <!-- CreatedAt Column -->
                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef> Punkte </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.points}} </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action1">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="buyInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>add_shopping_cart</mat-icon>
                            </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action2">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="deleteInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>delete</mat-icon>
                            </td>
                        </ng-container>

                        <!-- Action Bought -->
                        <ng-container matColumnDef="action3">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td style="cursor: pointer;" (click)="editInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>edit</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef=" mobileColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:  mobileColumns;"></tr>
                    </table>
                    <button style="margin-top: 2%;" mat-button color="primary" (click)="openAddDialog()">Investment
                        hinzufügen</button>
                </div>
                <div
                    style="display: flex; justify-content: center; align-items: center; height: 100%; margin-top: 10%; flex-direction: column;">
                    <h2>Gemachte Investitionen</h2>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                    <table *ngIf="!loading && !isMobileLayout" style="width: 60%;" mat-table
                        [dataSource]="boughtinvestments" class="mat-elevation-z8">
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.item}} </td>
                        </ng-container>
                        <!-- Preis Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Preis </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.price.toLocaleString('de-DE')}} €
                            </td>
                        </ng-container>
                        <!-- CreatedBy Column -->
                        <ng-container matColumnDef="createdby">
                            <th mat-header-cell *matHeaderCellDef> Erstellt von </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.createdBy | titlecase}} </td>
                        </ng-container>
                        <!-- CreatedAt Column -->
                        <ng-container matColumnDef="createdat">
                            <th mat-header-cell *matHeaderCellDef> Erstellt am </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.createdAt.toMillis() |
                                date:'dd.MM.yyyy HH:mm'}} </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action2">
                            <th mat-header-cell *matHeaderCellDef> Löschen </th>
                            <td style="cursor: pointer;" (click)="deleteInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>delete</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef=" displayedColumnsBought"></tr>
                        <tr mat-row *matRowDef="let row; columns:  displayedColumnsBought;"></tr>
                    </table>
                    <table *ngIf="!loading && isMobileLayout" style="width: 95%;" mat-table
                        [dataSource]="boughtinvestments" class="mat-elevation-z8">
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.item}} </td>
                        </ng-container>
                        <!-- Preis Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Preis </th>
                            <td mat-cell *matCellDef="let investment"> {{investment.price.toLocaleString('de-DE')}} €
                            </td>
                        </ng-container>
                        <!-- Action Bought -->
                        <ng-container matColumnDef="action2">
                            <th mat-header-cell *matHeaderCellDef> Löschen </th>
                            <td style="cursor: pointer;" (click)="deleteInvestment(investment)" mat-cell
                                *matCellDef="let investment">
                                <mat-icon>delete</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="mobileColumnsBought"></tr>
                        <tr mat-row *matRowDef="let row; columns:  mobileColumnsBought;"></tr>
                    </table>

                </div>
            </div>
        </mat-tab>
        <mat-tab label="Ranking" style="height: 100%">
            <div class = "drag-and-drop">
                <div class = "ranking-column">
                    <h2 style="margin-top: 2%; width: 95%;">Neues Ranking aus aktuellen Investitionen erstellen</h2>
                    <div *ngIf="!newrankingloading" cdkDropList class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of openinvestmentsArrayMoving " cdkDrag>{{item.item}}
                            für {{item.price}} € <b>{{item.points}} Punkte</b></div>
                    </div>
                    <button style="margin-top: 2%;" mat-button color="primary" (click)="saveRanking()">Ranking
                        Speichern</button>
                    <mat-spinner *ngIf="newrankingloading"></mat-spinner>
                </div>
                <div class = "current-ranking">
                    <h2 style="margin-top: 2%; width: 95%;">Dein aktuelles Ranking der Investitionen</h2>
                    <div *ngIf="!newrankingloading" cdkDropList class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div style="cursor: default;" class="example-box" *ngFor="let ranking of rankings " cdkDrag
                            [cdkDragDisabled]="true">{{ranking.itemname}}<b>{{ranking.points}} Punkte</b></div>
                    </div>
                    <mat-spinner *ngIf="newrankingloading"></mat-spinner>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>