<h2 mat-dialog-title>Passwort ändern</h2>
<mat-dialog-content>
    <form  [formGroup] = "form">
        <div style = "display: flex; flex-direction: column;">
            <mat-form-field appearance ="outline">
                <input matInput placeholder="Neues Passwort eingeben" type = "password" [formControl] = "newpassword">
            </mat-form-field>

            <mat-form-field appearance ="outline">
                <input matInput placeholder="Neues Passwort wiederholen" type = "password" [formControl] = "newpasswordcheck">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-raised-button color = "accent" (click) = "save()">Speichern</button>
    <button mat-button mat-raised-button color = "primary" (click) = "close()">Abbrechen</button>
</mat-dialog-actions>