<main>
  <mat-toolbar *ngIf = "isloggedIn" color="primary" class="app-header">
    <div class = "navbar">
      <div class = "row">
        <a href="app" class="positronx">Farm Investment Manager</a>
      </div>
    </div>

    <div class = "row-end">
      <div>
        <button mat-icon-button class="icon-label" (click)="openChangePasswordDialog()">
          <mat-icon class="icon" id="exit_to_app" color="accent">security</mat-icon>
          <label for="exit_to_app" class="lable">Passwort ändern</label>
        </button>
      </div>
      <div style = "margin-left: 60%;">
        <button mat-icon-button class="icon-label" (click)="logout()">
          <mat-icon class="icon" id="exit_to_app" color="accent">exit_to_app</mat-icon>
          <label for="exit_to_app" class="lable">Logout</label>
        </button>
      </div>

    </div>

  </mat-toolbar>

  <div style="height:70px"></div>
  <router-outlet style = "height: 100%"> </router-outlet>

</main>