.app-header {
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.navbar {
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.row-end {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.icon-label{
    display: flex;
    flex-direction: column;
    align-items: center;  
    cursor: pointer;  
}

.icon{
    margin-top: -20px;
    transform: scale(1.25);
}
.lable{
    display:block; 
    margin-top: -25px; 
    cursor: pointer;
}